[2017-10-31 15:14] deads2k opened #1 "How to split image-registry"
To create this repo, I did...

 1. clone openshift/origin
 2. delete everything except cmd/dockerregistry and pkg/dockerregistry
 3. clean git history
 4. rewrite imports to re-root this repo at `openshift/image-registry`
 5. create a glide.yaml to vendor dependencies
 6. create the upstream patch required to have the conflicting (for now) docker/distribution vendor
 7. make sure that `go build gi

[2017-10-31 15:16] stevekuznetsov commented on #1
Minimum viable impl for 1-3 is to re-add `hack/` and `test/` dir from Origin

[2017-10-31 15:17] deads2k commented on #1
That's not viable to test-integration to test-extended.  The tests won't work against the levels we want.

You like that unit test script?  I can copy that in.

[2017-10-31 15:18] pweil- commented on #1
/cc @miminar @dmage @legionus

[2017-10-31 15:42] stevekuznetsov commented on #1
I mean we can either start with `go build` and `go test` and `imagebuilder` and work our way up in complexity until we get something functional, or just copy and run. I see arguments for both but right now I do not have the bandwidth to start from 0 and iterate. Up to you.

[2017-10-31 16:40] deads2k commented on #1
Now with working travis for build and unit test.

@smarterclayton @derekwaynecarr we're going to need images and I don't know how to make that black magic work.

[2017-10-31 17:18] derekwaynecarr commented on #1
@deads2k i will pair you up with someone that just went through the process.

[2017-10-31 18:47] mfojtik commented on #1
@deads2k this looks great to me, I expected this to be clone of origin but I see you did the vendored approach.

[2017-10-31 18:51] deads2k commented on #1
Yeah, otherwise its a time bomb for the next guy and I know who would be tapped.

[2017-11-21 14:33] dmage opened #8 "tests in tools directory are broken"
[code]

[2017-11-22 08:27] legionus opened #9 "invalid repository/tag"
[code]

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_image-registry/5/test_pull_request_image_registry_e2e/8/

[2017-11-22 08:28] legionus commented on #9
/assign @bparees

[2017-11-22 08:31] legionus commented on #9
/label bug

[2017-11-22 08:39] legionus opened #10 "Sync labels with openshift/origin"
The repository has no labels for priorities, statuses, kinds, so the bots commands do not work. I can not create or synchronize them because I do not have permissions for that.

[2017-11-22 08:40] legionus commented on #10
/assign @bparees

[2017-11-22 09:07] legionus opened #11 "Need permissions for github.com/openshift/docker-distribution"
To be able to update the upstream code or rebase `docker/distribution`, I need the permissions to the `github.com/openshift/docker-distribution` repository. I'm adding this here because the repository is closed to add issues.

/cc @dmage @miminar
/assign @bparees

[2017-11-22 10:24] legionus commented on #11
@mfojtik told me that I don't need access (maybe only for rebase), but we have to setup a some job which will cherry-pick the commits against the vendor to the `github.com/openshift/docker-distribution` repository.

https://github.com/openshift/docker-distribution/pull/1

[2017-11-22 13:36] deads2k commented on #11
@bparees for the docker/distribution, you're likely to have your forks and origin is likely to have a different set.  We'll want to be able to deconflict the branch names and you'll want to decide how you'd like to manage your branches.

I'd recommend making changes here, running CI here, merging here, and pushing back out, but you are unlikely to conflict with anyone (you're a different level aft

[2017-11-22 14:15] bparees commented on #11
@deads2k are you suggesting we'll have an "image-registry" and an "origin" branch of `github.com/openshift/docker-distribution` ?

[2017-11-22 14:40] bparees commented on #10
i've created the basic set, if you know of others that we explicitly need please let me know and i'll add them.

@stevekuznetsov this looks like another good candidate for "default stuff that a new repository needs".  Do you have any way to sync the origin labels into this repository?  copying them by hand is pretty tedious.

[2017-11-22 14:41] bparees commented on #10
looks like maybe this tool can do it but we'd have to grant it access:
https://medium.com/@dtinth/how-to-copy-github-labels-from-one-project-to-another-1857adc73e0f

[2017-11-22 14:43] bparees commented on #9
@legionus did you talk to @stevekuznetsov about this like I suggested?

[2017-11-22 14:50] deads2k commented on #11
I'm saying it deserves some thought.  Right now image-registry is using `release-2.6.2`.  I pinned you to a SHA so you could sort out what makes the most sense, but that's what you were using when you moved repos. By contrast, openshift is using `edc3ab2` (which I think is master) to match kubernetes.

But what would happen if kube wanted to use the same version and pin it and we needed patches fo

[2017-11-22 14:55] bparees commented on #11
yeah, i get why we could end up there (perhaps already are there).

just wanted to confirm that "openshift fork with branch per dependent project" was the model we were intending to adopt.  presumably:

1) image-registry won't be the last repo to carry a common dependency (at a different level) with origin.
2) docker-distribution won't be the last fork in this situation

so making sure we have a r

[2017-11-22 14:56] legionus commented on #10
Please add also:
- `kind/question`
- `area/usability`
- `area/tests`
- `area/techdebt`
- `area/security`
- `area/performance`
- `area/compatibility`
- `area/documentation`

[2017-11-22 14:57] legionus commented on #9
Fixed by https://github.com/openshift/aos-cd-jobs/pull/862

[2017-11-22 14:57] #9 closed

[2017-11-22 14:59] legionus commented on #8
/cc @stevekuznetsov

[2017-11-22 14:59] bparees commented on #10
done.

@stevekuznetsov i'm closing this but i'd still appreciate some follow up on sync'ing/init'ing labels for new repositories.

[2017-11-22 14:59] #10 closed

[2017-11-22 15:33] deads2k commented on #11
I think its a plan that makes sense.  We only got all the forks sync'ed out a few weeks ago, so the plan hasn't been particularly well considered yet.  If it makes sense to you and it makes sense to me, we probably get to make that the plan going forward.  `release-2.6.2` for origin 3.7 and `image-registry-release-2.6.2` for image-registry 3.8?

[2017-11-22 15:37] bparees commented on #11
i don't know that i'd want to include versions in the branch names.  what does it buy us?  just seems like another thing to have to maintain going forward.

also i don't think we should consider origin special/default at this point, so i'd expect it to be "origin-whatever" and "image-registry-whatever"

[2017-11-22 16:46] stevekuznetsov commented on #8
Can we open this against Origin, please?

[2017-11-22 16:52] kargakis commented on #10
https://trello.com/c/tJNlpkr4/451-sync-github-labels-across-repositories

[2017-11-22 17:14] deads2k commented on #11
The version in the branch names gives you a stable branch to depend on for your maintenance streams.  2.6.2 is the docker/distribution version, not the image-registry version.  Because you have patches on top, you cannot rebase that branch on a new docker/distribution level without rewriting history and losing the branch to do maintenance on for past releases.  That's why we have openshift/kuberne

[2017-11-22 17:15] bparees commented on #11
ok.

[2017-11-22 18:44] legionus commented on #8
@stevekuznetsov  Sure. https://github.com/openshift/origin/issues/17427

[2017-11-22 19:52] legionus opened #13 "Add codecov.io"
I suggest to add the [code coverage](https://codecov.io/) support for `image-registry` repository.

https://github.com/apps/codecov
https://github.com/marketplace/codecov

/cc @bparees  @dmage @miminar

[2017-11-22 19:55] bparees commented on #13
i'd like to keep us as aligned w/ the rest of the repos as possible so we don't end up with different processes/configurations/reports.  If @smarterclayton is on board with it, though, it's fine with me.

[2017-11-22 19:58] legionus commented on #10
@bparees can you give еру permissions to me, @dmage and @miminar to assign labels on new and existent issues? I mean not only by command to bot, but manually too.

[2017-11-22 19:59] bparees commented on #10
@legionus try now.

[2017-11-22 20:05] legionus commented on #13
@bparees @smarterclayton this service is used in the `docker/distribution` and is very useful. This is especially useful now, when we change and add tests. It is very good to see test coverage.

[2017-11-22 20:07] legionus commented on #10
@bparees thanks, it works.

[2017-11-23 00:05] smarterclayton commented on #13
Do you have to give any sort of special privileges to the bot?  If it
requires anything other than read access we'll need to go through a
security review of it.

On Wed, Nov 22, 2017 at 3:06 PM, Alexey Gladkov <notifications@github.com>
wrote:

[2017-11-23 09:57] legionus commented on #13
@smarterclayton I just tried to install it on my personal account. He wants:

- Read access to code
- Read access to administration, issues, members, and metadata
- Read and write access to commit statuses and pull requests

[2017-11-23 14:24] legionus commented on #13
not needed.

[2017-11-23 14:24] #13 closed

[2017-11-29 20:02] bparees commented on #11
@legionus @deads2k i've created branch `image-registry-release-2.6.2` based on the current vendor dependency of image-registry:
https://github.com/openshift/docker-distribution/tree/image-registry-release-2.6.2

I don't know who we want to have permissions to update that long term, but for now @legionus, just find a project commiter (any of the team leads) and we can merge it.

[2017-11-29 20:02] #11 closed

[2017-12-05 13:37] #1 closed

[2017-12-11 20:02] bparees opened #26 "registry image reports "unknown" openshift version"
time="2017-12-11T18:50:48.773847179Z" level=info msg="start registry" distribution_version="v2.6.2+unknown" go.version=go1.8.3 instance.id=0bfa960a-ac57-4138-abf9-f9445aa5eed7 kubernetes_version=v1.7.6+$Format:%h$ openshift_version=unknown

[2017-12-11 20:03] bparees commented on #26
the kubernetes version output is also messed up:
`kubernetes_version=v1.7.6+$Format:%h$ `

at a minimum the "Format" shouldn't be there (should be a git commit).

[2017-12-11 20:20] dmage commented on #26
That is expected output, we need to remove dependencies on origin and I'm going to remove this fields at all, because they are for origin. What do you expect to see there?

[2017-12-11 20:36] bparees commented on #26
Well i think we need to discuss as an org what we expect (should the image-registry report a consistent version like "v3.9" itself?  if so, should it get that value from a common location rather than each repo having to maintain/bump the version itself?)

But at a minimum i'd expect/want the git commit that was used to build the image.

So `openshift_registry_version=vX.Y+commitid` is what i'd exp

[2017-12-11 20:39] bparees commented on #26
@smarterclayton what's the plan for providing common version numbers to different components like this?  Is the build tooling supposed to handle it for us?  Some other mechanism?

[2017-12-18 13:25] #26 closed

[2018-01-04 15:44] dmage opened #38 "Restore tests for manifest migration"
https://github.com/openshift/origin/commit/4e138933d41d0d31cad139f6687e3951df1345a6#diff-4214e89bfb45549e49735af038578123

[2018-01-04 15:45] dmage opened #39 "Restore tests for image signature workflow"
https://github.com/openshift/origin/commit/4e138933d41d0d31cad139f6687e3951df1345a6#diff-d1daafcc0a0ef1e009d0dd44848d8ac4

[2018-01-10 17:48] dmage opened #43 "Track client operations using tokens"
Docker for each operation (pull, push) gets a new OAuth2 token. The current implementation of the token endpoint is basically a stub.

We can use this feature to tie the sequence of requests together:

  1. /openshift/token endpoint returns a signed tuple (openshift token, random id) as a registry token.
  2. On each operation, the registry checks the signature of the provided token.
  3. If the s

[2018-01-10 18:05] bparees commented on #43
@dmage @legionus can you guys fill in the description on this issue?

[2018-01-10 18:05] bparees commented on #43
Also should this be a trello card instead?

[2018-01-17 21:25] dmage opened #51 "Use latest version of origin in tests"
We want to test the master code against the latest version of origin. See #50.

At the same time, the code from the release-3.8 branch is supposed to be tested with origin's branch release-3.8. And when we'll have the release-3.9 branch, it should use origin from the branch release-3.9.

[2018-01-17 22:11] bparees commented on #51
/cc @stevekuznetsov @smarterclayton

[2018-01-17 22:12] bparees commented on #51
(we currently can't use "latest" because something changed in origin that is breaking our integration tests...sorting that out is the most urgent problem.  Getting our release branches using released versions of origin is secondary)

[2018-01-17 22:13] bparees commented on #51
(and getting to the point where things that break out integration tests can't merge into origin is also a high secondary priority)

[2018-01-18 11:00] dmage opened #52 "Fix integration test framework"
With the latest version of the origin container we get the authorization error in the integration tests.

git bisect said that openshift/origin@b81b982406f5b9a7dbba2b3b0ff7edd702356408 is the first bad commit
[code]

[2018-01-18 11:07] dmage commented on #52
/cc @deads2k

[2018-01-18 11:09] dmage commented on #52
https://github.com/openshift/image-registry/blob/4e128e42af9068986de54f1ac152ef250e0c0e6f/pkg/testframework/project.go#L27-L39

It works with origin from 3.6, 3.7, 3.8, and 3.9 till b81b9824.

[2018-01-18 11:14] dmage commented on #52
Adding time.Sleep(10 * time.Second) after project creation helps... :(

[2018-01-18 11:29] dmage commented on #52
kubeClient.RbacV1() isn't available in our code: `type *kubernetes.Clientset has no field or method RbacV1`

[2018-01-18 15:33] stevekuznetsov commented on #51
You are OK building Origin in your jobs then, yeah? We'll just need to start the job from the base stage and build origin there/

[2018-01-18 15:56] bparees commented on #51
yes. we need to build the right origin branch though.

[2018-01-19 16:16] stevekuznetsov commented on #51
Do you need intervention from me here? The branch of this repo being tested is provided as `${PULL_BASE_REF}` as specified [here](https://github.com/kubernetes/test-infra/tree/master/prow#job-evironment-variables). The step to build Origin would just be added in `aos-cd-jobs` as per usual.

[2018-01-19 19:40] deads2k commented on #52
Are you running a complete master or just the API server.  You need the controllers too for a functional system.

I would suggest trying to work against something like `oc cluster up --version=the-right-one`.  Integration tests end up needing to start complete masters and even that is going to change in 3.10.

[2018-01-28 04:45] bparees opened #58 "REGISTRY_OPENSHIFT_SERVER_ADDR env var does not appear to work"
the registry does not appear to actually respect this value properly:

[code]

[2018-01-29 03:58] bparees commented on #58
When this is fixed, we should un-revert https://github.com/openshift/openshift-ansible/pull/6913

[2018-01-29 08:42] legionus commented on #58
[code]

I do not know how you created the cluster, but in the cluster that is created by `oc cluster up`, a variable `DOCKER_REGISTRY_SERVICE_HOST` is set.

[code]

As you can see the `DOCKER_REGISTRY_SERVICE_HOST` variable is still set and it has a higher priority. To remove it you have to unset it explicitly:

[code]

I have test for  env variables: https://github.com/openshift/image-registry/bl

[2018-01-29 08:43] legionus commented on #58
@bparees To be sure, please show the `dockerregistry` environment variables.

[2018-01-29 11:42] dmage commented on #58
@legionus DOCKER_REGISTRY_SERVICE_HOST is always set by Kubernetes.

[2018-01-29 16:59] #58 closed

[2018-01-30 15:23] dmage commented on #52
Fixed by #60.

[2018-01-30 15:23] #52 closed

[2018-02-02 17:26] #51 closed

[2018-02-19 13:09] dmage opened #69 "Mirroring uses a wrong context"

[2018-02-19 15:04] dmage opened #70 "Get blob may return 200/206 when blob is not present on storage"

[2018-02-19 15:11] dmage commented on #70
https://github.com/docker/distribution/blob/master/ROADMAP.md#deletes

[2018-02-23 14:48] dmage commented on #70
https://github.com/docker/distribution/blob/6664ec703991875e14419ff4960921cce7678bab/registry/storage/filereader.go#L125-L130

[2018-02-27 17:55] #69 closed

[2018-03-21 21:23] bparees commented on #43
trello'd: https://trello.com/c/lhawfbIW

[2018-03-21 21:23] #43 closed

[2018-04-09 13:27] miminar opened #74 "Restore image signature workflow extended test"
Was openshift/origin#16344

The test existed in the origin repository: https://github.com/miminar/origin/blob/262b8bafff6b5f338e647c94bc9530121fc18131/test/extended/registry/signature.go

It was re-enabled in openshift/origin#17202 and removed one week later during a rebase to kube 1.8.1 (openshift/origin#17115) since it allegedly belongs to this repository.

[2018-04-09 13:54] dmage commented on #74
duplicates #39

[2018-04-09 13:57] miminar commented on #74
Ah, missed it, thanks.

[2018-04-09 13:57] #74 closed

[2018-04-09 13:58] miminar commented on #39
Copy&paste from the closed duplicate #74:

Was openshift/origin#16344

The test existed in the origin repository: https://github.com/miminar/origin/blob/262b8bafff6b5f338e647c94bc9530121fc18131/test/extended/registry/signature.go

It was re-enabled in openshift/origin#17202 and removed one week later during a rebase to kube 1.8.1 (openshift/origin#17115) since it allegedly belongs to this reposito

[2018-04-18 09:11] pennpeng opened #77 "TLS handshake timeout"
nternal error occurred: Get https://dseasb33srnrn.cloudfront.net/registry-v2/docker/registry/v2/blobs/sha256/fd/fdd589482018b388e3ef90e087a41be78714966d43a01f3542f96af8df8ea49e/data?Expires=1524083159&Signature=T2Le~M3Tq8hta74USnsJmqUkPjIzby7uizQ7c7k7fgy28UxOuVLxyVYCsAweyoXllRc5Hzoexk0geaLePaZj-zP8PIZMmzyPq~-MBSlJz-4v1YrSB2uz~v-LjEHFhx43CUt~cJ5h4DZOa2Vvpw1pq7DRnYPhdbpdMU-fKO-EuTc_&Key-Pair-Id=APKA

[2018-04-18 14:04] legionus commented on #77
This is a network issue. The intergrated registry got a timeout when trying to connect to `cloudfront.net`.

[2018-04-18 14:04] #77 closed

[2018-04-27 18:06] bparees commented on #70
some context from IRC discussion:

This can happen under the following conditions:

1) you have multiple registry instances
2) an image gets deleted/pruned from storage
3) the cache in the other instances is now stale (containers a blobid that does not exist in storage)
4) docker attempts to fetch a non-existent file from storage, but returns a 200 when the file is not found: https://github.com/do

[2018-04-30 11:49] dmage commented on #70
@bparees https://github.com/docker/distribution/blob/0270bec91642bd3bf61afd05e510526b98b57706/storage/filereader.go#L53-L58

This was explicitly said in the code.

[2018-04-30 16:06] dmage commented on #70
I've made some research to find out why they do it.

On 19 Dec 2014 they made the commit https://github.com/docker/distribution/commit/8ca960a0b57c7e25bf5ebbf4ac13c8aedf8c23de that "requires some discussion of how we will handle errors due to network problems". This change suppress the InvalidRange error, and it's for Distribution v2.0. Though, this code returns PathNotFoundError if the blob is ab

[2018-05-02 15:34] dmage opened #78 "Run tests without "openshift start""
There are rumours that "openshift start" will be removed in next versions of Origin. We should be ready to it.

[2018-05-02 15:48] bparees commented on #78
True, is there anything our tests require that would be hard to achieve
with oc cluster up?

Ben Parees | OpenShift

On Wed, May 2, 2018, 17:35 Oleg Bulatov <notifications@github.com> wrote:

[2018-05-03 08:48] #70 closed

[2018-05-03 12:08] dmage commented on #78
`oc cluster up` can run only one cluster simultaneously. We'll need to rethink our tests.

[2018-05-03 12:22] legionus opened #80 "Rework registry logging"
We need to change the approach to logging in such a way that one error message contained all the information (maximum information) necessary for the problem investigation. In this case, we can change the logging level to `error` and remove some of the debug messages that we have now.

After discussion with Oleg, we came to the conclusion that we can add prefixes to the error as it passes through o

[2018-05-03 12:46] dmage commented on #80
The best known example is https://github.com/openshift/image-registry/blob/d5a32198ec0f0477741e7e09166a1e491982d4c8/pkg/dockerregistry/server/blobdescriptorservice.go#L44

This condition shouldn't be just silently ignored.

https://github.com/openshift/image-registry/blob/d5a32198ec0f0477741e7e09166a1e491982d4c8/pkg/dockerregistry/server/blobdescriptorservice.go#L46-L48

This error should be logge

[2018-05-03 22:34] bparees commented on #80
thanks @legionus @dmage it sounds like a promising approach, I look forward to discussing it further when i'm back in the office

[2018-05-04 07:51] dmage commented on #78
@bparees my PR is incomplete and is only for pullthrough. It's less than 20% of total work. @miminar was more accurate in estimating: it's much bigger than 8.

[2018-05-04 08:00] bparees commented on #78
Ok, thanks for the update. I'll try to find someone else to take a look at this.

[2018-05-14 11:44] dmage opened #83 "Fix build scripts to accept go1.10"
We stuck with go1.8 and we need to modify our build scripts to use another version.

[code]

[2018-05-15 14:19] #83 closed

[2018-06-06 15:31] bparees opened #95 "Data race in pullthrough_test"
[code]

[2018-06-13 17:07] deads2k opened #102 "use library-go (new as of a few weeks ago)"
https://github.com/openshift/library-go has many of the duplicated packages now.

1. cmd/util/serviceability
2. crypto

[2018-06-14 17:31] bparees opened #104 "Document how to work around unknown AWS regions in S3 driver"
much like k8s has done, we (well the upstream s3 filesystem driver) should trust the region list from AWS instead of us hardcoding it:
https://github.com/kubernetes/kubernetes/pull/38880

that way when new regions are introduced, we automatically support them.

@legionus @dmage any reason this is a bad idea or hard to do?

Edit: see comment https://github.com/openshift/image-registry/issues/104#is

[2018-06-15 07:54] legionus commented on #104
I think that such complex changes should be made only in the upper reaches, and we should get it with the next version (or backport of **merged** upstream PR). Otherwise we will endup with really complicate carry patch.

[2018-06-15 14:00] bparees commented on #104
Agree, but we may have to be the ones to submit the upstream PR.

[2018-06-19 09:36] legionus commented on #104
After investigation: `docker/distribution` has a [list of regions](https://github.com/docker/distribution/blob/master/registry/storage/driver/s3-aws/s3.go#L78) to [check](https://github.com/docker/distribution/blob/master/registry/storage/driver/s3-aws/s3.go#L207-L209) the region at the [time of construction of s3 storage provider](https://github.com/docker/distribution/blob/master/registry/storag

[2018-06-19 16:00] bparees commented on #104
So we should have provided that workaround to the user who recently hit this?  Perhaps it's worth documenting here: https://docs.openshift.org/latest/install_config/registry/extended_registry_configuration.html#docker-registry-configuration-reference-storage  ?

That seems like a sufficient resolution to this issue.

[2018-06-19 20:06] legionus commented on #104
You tell me. I just follow the directions.

If you think that it's worth it, then we can.

[2018-06-19 20:20] bparees commented on #104
well it's largely moot now since the fix will be in their hands shortly and I think they found another workaround in the meantime.  I was mostly asking if, in hindsight, you think this would have been a reasonable workaround for them if we'd known about it at the time.  If the answer is yes, then I think it is worth documenting it so we don't forget about it the next time it comes up (e.g. when AW

[2018-06-20 07:32] legionus commented on #104
Yes. As a quick fix it should help, but in long term we should add new region and backport it to allow this check to work again. So in general for us nothing will change.

[2018-06-20 13:36] bparees commented on #104
yes, we're going to have to keep adding new regions as they show up.

[2018-06-20 13:37] bparees commented on #104
i've updated the title to reflect this is a documentation effort

[2018-07-06 00:30] #102 closed

[2018-07-06 19:32] bparees opened #112 "image-registry is tied to Sirupsen (uppercase)"
This means we can't pick up newer kube deps (which are tied to sirupsen lowercase)

It looks like the master branch of docker distribution has handled this(moved to lowercase), so we should probably do what we proposed a few weeks ago and move up to master.

The only alternative I see (other than getting left behind on really old kube deps) would be to do a carry patch for docker distribution to s

[2018-07-06 19:32] bparees commented on #112
@deads2k fyi when you wonder why image-registry is still using kube 1.9 deps.

[2018-07-09 13:50] deads2k commented on #112
@derekwaynecarr time bombs.  Luckily we got this split out just in time.

[2018-07-09 14:17] bparees commented on #112
for what it's worth, cherry-picking+carrying the commit actually doesn't look too bad:
https://github.com/docker/distribution/commit/a97d7c0c155be14d1380c075d3197a5d89c2abc2

the main problem is they did that after moving to `dep`, so we'd have to manage the godeps changes.

[2018-07-11 18:57] rhnewtron opened #114 "Origin Registry Console Logout not working when using KeyCloak with Openshift"
Having setup Openshift with OpenID Auth with Keycloak, when logging out of the Registry Console with the "Logout" link, I'm logged out of Openshift, however I am not logged out of KeyCloak. Clicking on "Login Again" and selecting the "Keycloak" Login Dialog automatically loggs me in.

The Web console of Openshift does not have this issue (If I configure the logoutUrl correctly)

Version: 3.9

Step

[2018-07-11 19:03] bparees commented on #114
the image-registry repo doesn't actually contain any code/logic for the registry console.

[2018-07-11 19:03] #114 closed

[2018-07-11 19:04] bparees commented on #114
(we'll chase this in the origin issue you opened or get it to the right place there)

[2018-07-30 14:10] dmage commented on #80
Fixed by #110.

[2018-07-30 14:10] #80 closed

[2018-08-13 16:44] #8 closed

[2018-08-17 15:56] #38 closed

[2018-08-21 12:14] dmage commented on #78
This was fixed when TEST_KUBECONFIG was introduced.

[2018-08-21 12:14] #78 closed

[2018-08-23 17:31] #39 closed

[2018-09-20 08:05] legionus commented on #112
After rebase, we no longer use the `github.com/Sirupsen/logrus`.

[code]

[2018-09-20 13:33] bparees commented on #112
@legionus looks like it's still in our glide.yaml, can you submit a PR removing it that closes this issue?

[2018-09-20 13:34] bparees commented on #112
and bump us to kube 1.11 deps while you're at it.

[2018-09-21 14:22] #112 closed

[2018-10-28 17:11] dmage opened #133 "Request ID is inconsistent"
In our access logs the request ID doesn't match to the request ID from the rest of the log.

/cc @legionus

[2019-02-01 13:08] pweil- opened #153 "Update regions"
Via https://github.com/openshift/origin/issues/12454#issuecomment-459635222

Regions are pulled from the generated endpoints in aws-sdk-go.  It looks like our version is 1.12.36.  Latest is 1.16.26 which includes the cn-northwest region mentioned in the request.

@tj13 To set expectations, this requires evaluation of risk when we rebase new versions of the upstream repo since features may be pulle

[2019-02-01 14:07] bparees commented on #153
converted to jira:
https://jira.coreos.com/browse/DEVEXP-264

[2019-02-01 14:07] #153 closed

[2019-02-26 14:10] dmage commented on #104
https://docs.okd.io/3.11/install_config/registry/extended_registry_configuration.html#s3-driver

[2019-02-26 14:10] #104 closed

[2019-04-05 00:01] iceman91176 opened #172 "Problems with non AWS-S3 storage backend"
We are experiencing lots of problems when using a rados-gw-based S3 backend (ceph luminous) for the image-registr (3.11). We are not able to push any images, pushing is aborted with an HTTP-500 error
When looking at the raw requests we see problems with multipart uploads.
After searching the web for some hours it seems that we are not the only ones having problems with  rados-gw-s3.
It seems to re

[2019-04-05 09:55] dmage commented on #172
In general, if API claims to be compatible with S3, but the official client doesn't work with it, either API or the client should be fixed. If updating aws-go-sdk is enough, we updated aws-go-sdk to 1.17.2 in 4.0. So the next release won't have this problem. You may also check other gateway APIs, for example Swift API.

[2019-04-05 09:55] #172 closed

[2019-04-11 17:24] openshift-merge-robot opened #173 "Branches Promoting to Future Releases Disallow Merging | branch:release-4.1 branch:release-4.0"
The following branches are being fast-forwarded from the current development branch (master) as placeholders for future releases. No merging is allowed into these branches until they are unfrozen and the development branch is bumped to a future release.

 - `release-4.1`
 - `release-4.0`
Contact the [Test Platform](https://coreos.slack.com/messages/CBN38N3MW) or [Automated Release](https://coreos.

[2019-04-11 18:24] adambkaplan commented on #173
@stevekuznetsov I'd propose the following:

Title: Release Branches release-4.1, release-4.0 Frozen for Merging

Description: The following branches are being fast-forwarded from the current development branch (master) as placeholders for upcoming releases. No merging is allowed into these release branches until they are unfrozen for production release.

* `release-4.1`
* `release-4.2`

Contact th

[2019-04-29 09:32] angry-tony opened #176 "is it possible to add "app Item" to Catalog???"
Hello! all..

is there way to add "customized Item"  and see it on "Developer Catalog" in Openshift 4??
( openshift 3 can do it using "ASB + APB + local registry" )

**like below...**
![image](https://user-images.githubusercontent.com/18000837/56705270-3f141680-674b-11e9-9ebf-9dc2e503461d.png)

[2019-04-29 13:28] bparees commented on #176
items that show up in the developer catalog are:
1) imagestreams in the openshift namespace that have the builder tag
2) templates in the openshift namespace *if* you have the service catalog enabled(it's not on by default) and the template service broker installed(it's not installed by default).
3) installed OLM operators

i'm not sure what sort of customized item you're trying to add so it's har

[2019-04-29 13:28] #176 closed

[2019-04-30 03:58] angry-tony commented on #176
@bparees Hello, thank you for your reply.
Cloud you give me how to enable "service catalog" in openshift 4??

[2019-04-30 12:56] bparees commented on #176
@angry-tony

$ oc edit servicecatalogapiserver.operator.openshift.io/cluster

change "removed" to "managed"

$ oc edit servicecatalogcontrollermanager.operator.openshift.io/cluster

change "removed" to "managed"

that will bring up a service catalog.  you will also need to install the TSB operator via the operator hub.  once you've done those two things, the templates should appear in the develope

[2019-05-16 09:52] lcnsir opened #180 "[Need help] Is openshift internal registry has token service api ?"
As other image registry solution

there is a token service api like
[code]
we can use it to get a access token with different permission

Then use it to access registry api for example list all image name:
[code]

After check the doc of openshift internal image registry, seems there are no token services like that, and we can use servicaccount token of kube-system or user token to access regstry a

[2019-05-16 15:01] dmage commented on #180
There is the endpoint `/openshift/token`. You should get it from the Www-Authenticate header:

[code]

And you should follow this protocol if you want to be compatible with other registries (and with future versions of the integrated registry). But the current implementation just checks the token and returns it back to the client, so it doesn't have the ability to limit the scope of the token. If

[2019-05-16 15:01] #180 closed

[2019-05-17 14:23] dmage opened #181 "error getting secrets: <nil>"
https://github.com/openshift/image-registry/blob/b46750ec2df32aae3548ce349f1a9ddd860e507c/pkg/dockerregistry/server/util.go#L49-L52

To track the errors source, we have our type for errors. Unfortunately there is a side-effect: when we assign `rerrors.Error(nil)` to an error interface, we get a typed nil. So the condition `err != nil` becomes true.

To avoid this, we should use an interface, but w

[2019-05-20 07:01] lcnsir commented on #180
@dmage .thanks for your respoces,

The token service is works
[code]
but the WWW-Authenticate header access failed
[code]

Then I try it successfully to call the registry by Authenticate header
[code]

So the Authenticate header is the one actually works ?

[2019-05-20 10:38] dmage commented on #180
`WWW-Authorization` is the header that the client should expect to receive from the server.
`Authorization` is the header that client should use to sent its credentials.

[2019-06-12 12:01] rhnewtron opened #182 "redirect parameter not working"
When using the docker-registry on azure the registry uses SAS Tokens and redirect to redirect clients to the blob URL's for download / upload. If you have VNet Security enabled, this does not work, unless you remove this access (403 is returned).

The upstream registry provides a parameter for this (redirect), it is part of the documentation https://docs.openshift.com/container-platform/3.11/insta

[2019-06-12 12:59] dmage commented on #182
@rhnewtron can you elaborate on the parameter? The upstream registry has 4 parameters for the Azure storage driver: accountname, accountkey, container, and realm [[1]].

[1]: https://docs.docker.com/registry/storage-drivers/azure/

[2019-06-12 13:02] rhnewtron commented on #182
It's about this:
[code]

Described here https://docs.openshift.com/container-platform/3.11/install_config/registry/extended_registry_configuration.html#docker-registry-configuration-reference-storage

I need
[code]

[2019-06-12 13:04] dmage commented on #182
You can set the environment variable REGISTRY_STORAGE_REDIRECT_DISABLE=true

[2019-06-12 16:51] rhnewtron commented on #182
This was a great tipp. I set the Environment on the Registry and now I can push and pull Images with the Azure Backend from the Registry via the exposed route without granting vnet access to everyone. I think this is very valuable for the documentation.

env:
[code]

[2019-06-12 19:07] rhnewtron commented on #182
From my side the issue can be closed. However updating the documentation for azure specifics (vnet security for storage accounts) may be a great follow up ticket.

[2019-06-13 17:34] adambkaplan commented on #182
@dmage something we need to factor in to the image-registry-operator?

[2019-06-13 19:46] dmage commented on #182
@adambkaplan we may want to expose this setting for UPI installations. We need to weigh benefits of vnet security

[2019-06-13 19:57] bparees commented on #182
why would we make a distinction on config options for ipi vs upi?

the critical issue in my mind is what we default content redirect to be enabled on azure installations, based on whether vnet security is on or not.

[2019-06-13 20:14] dmage commented on #182
@bparees we don't enable vnet security on IPI, so we don't need this option there. But this option will be available for IPI and UPI.

[2019-08-08 09:18] mjudeikis opened #186 "registry fail to start (4.2-2019-08-08-070705)"
Registry fails to start after nightly build on azure

[code]

[code]
Logs:
[code]

/kind bug

[2019-08-08 09:21] mjudeikis commented on #186
[code]

[2019-08-08 09:23] mjudeikis commented on #186
/close
wrong repo: https://github.com/openshift/cluster-image-registry-operator/issues/358

[2019-08-08 09:23] #186 closed

[2019-08-09 20:18] coreydaley opened #188 "Setup golangci-lint"
https://github.com/golangci/golangci-lint
Fix issues it finds and also remove go vet

[2019-10-29 02:05] get2arun opened #205 "openshift create ca server certificate for docker registry"
How to create the "ca.crt" file in order to login to openshift docker registry. The [URL](https://github.com/openshift/origin/issues/21691) have the command to create ca.crt file in the docker registry and this ca.crt to be copied to docker client machine. here is the command.

I have the registry.key and registry.crt file from default namespace >resources > secrets > registry-certificates, copied

[2019-10-29 10:58] dmage commented on #205
You shouldn't copy the server certificate to clients. This certificate is only for the server and its key should be kept secret.

How to expose the registry and access it is described in depth in our documentation: https://docs.openshift.com/container-platform/4.2/registry/securing-exposing-registry.html

[2019-10-30 15:58] vtereso opened #206 "Notifications/Webhooks for repository notifications"
## Expected Behavior
The Internal Openshift registry has some easily accessible way to add endpoints that will be notified of events, preferably in a dynamic way such as an endpoint like https://docs.docker.com/docker-hub/webhooks/.

## Actual Behavior
I do not see any documentation for such an api within https://docs.openshift.com/container-platform/4.2/welcome/index.html, but I may be mistaken.

[2019-11-12 19:17] vtereso commented on #206
Thanks! Would you happen to know where in the Openshift org/codebase the logic is located that updates an `ImageStream` status field? I see creation here https://github.com/openshift/image-registry/blob/4c72a946991a1e0e67eda2855344bb0d408dc37a/pkg/imagestream/imagestream.go#L310...

[2019-11-12 19:22] vtereso commented on #206
Thanks!

[2019-11-12 19:22] #206 closed

[2020-01-24 14:27] AnitaNayak opened #217 "OCP 4.2 ImageRegistry fails with nfs-storage on s390x"
I am trying to install OCP 4.2 on s390x with Image Registry nfs-storage. But I am getting below error for image-registry pod
[code]
Please guide...

[2020-01-24 15:03] bparees commented on #217
are you able to mount the storage volume in question from a standard pod?

`mount.nfs: No route to host` makes it seem like the issue here is w/ your PV setup more than the registry itself.

[2020-01-24 16:02] AnitaNayak commented on #217
Its on libvirt KVM where bastion is having ip: 192.168.79.1.
nfs PV is
[code]
[code]
I tried to login to pod image-registry-8fdfb6c68-pdf8f ( EmptyDir) and tried mounting... but it is not allowed to mount as non-root user.

Please let me know, if I am trying correct or understand correctly...

[2020-01-24 16:09] bparees commented on #217
That's not what i meant.  I meant just create your own pod (running whatever image you want) that mounts the PV in the same way that the registry pod does.

That said, I see you have 2 registry instances running, so it seems like one of them was able to mount the NFS volume and one was not?  Assuming the two pods are running on different nodes, it would seem likely that the issue is with one of yo

[2020-02-06 17:24] johnlongo opened #219 "Openshift 4.3 - Getting timeout trying to log into image-registry using podman"
**Getting timeout trying to log into the image-registry using podman**

[root@config ocp4]# oc login -u kubeadmin -p ***************
Login successful.

You have access to 56 projects, the list has been suppressed. You can list all projects with 'oc projects'

Using project "test".

[root@config ocp4]# podman login -u $(oc whoami) -p $(oc whoami -t) image-registry.openshift-image-registry.svc:5000

[2020-02-06 18:58] dmage commented on #219
@johnlongo where do you run this command? Does `curl -vk https://image-registry.openshift-image-registry.svc:5000/v2/` work? What is the status of the image registry operator `oc get clusteroperator image-registry -o yaml`?

[2020-02-06 19:11] bparees commented on #219
I'm guessing you're doing this from outside the cluster network(though I'm
surprised the DNS resolution worked if so). You need a route, not the
service hostname.

On Thu, Feb 6, 2020, 13:58 Oleg Bulatov <notifications@github.com> wrote:

Ben Parees | OpenShift

[2020-02-07 15:59] johnlongo commented on #219
Thanks for the responses:
After enabling the default route, This worked for me
podman login -u kubeadmin -p $(oc whoami -t) https://default-route-openshift-image-registry.apps.ocp4.apptecinc.com/ --tls-verify=false

[2020-02-07 15:59] #219 closed

[2020-04-28 03:51] lcnsir opened #238 "[Need help]How to get a username/password (do not refresh)who has the admin permission for openshift registry"
OCP 4.3

I want to get a user/passowrd. or serviceaccount/token, that has a admin permisson for openshift internal registry

I have a use case that a user with password (will not be expired) can access the OCP image-registry

Tried cases:
 admin user with token (generated by OC and will be expired,)

[code]
[code]

this method can has a permission to list all images in the OCP registry but the pas

[2020-04-28 04:00] bparees commented on #238
this isn't really a registry question, the registry respects the same tokens as the rest of openshift.  That said, i'm not aware of service account tokens expiring, so i'd suggest you create a service account, grant it the permissions it needs to access the images you want, and get its token.

[2020-05-19 15:28] dmage commented on #181
https://bugzilla.redhat.com/show_bug.cgi?id=1815562

[2020-05-19 15:28] #181 closed

[2020-05-19 15:32] dmage commented on #182
The option disableRedirects is added to the image registry operator config.

[2020-05-19 15:32] #182 closed

[2020-05-19 15:34] dmage commented on #205
/lifecycle rotten

[2020-05-19 15:34] #205 closed

[2020-05-19 15:36] dmage commented on #217
/lifecycle stale

[2020-06-26 14:44] #188 closed

[2020-08-04 06:48] gyohuangxin opened #243 "Failed to create image registry with Swift storage on s390x"
I'm trying to deploy OCP 4.5 on s390x openstack platform, but image registry with Swift storage cannot be created with error message about x509 certificate:

[code]

clouds.yaml:
[code]

[code]

[2020-08-04 06:57] gyohuangxin commented on #243
[code]

[2020-08-04 14:11] bparees commented on #243
i believe the registry operator allows you to provide an additional CA explicitly for communicating w/ storage providers, but i'm not finding it in the api or product docs.  @dmage?

we should make sure the procedure gets documented somewhere near either:
https://docs.openshift.com/container-platform/4.5/registry/configuring-registry-operator.html#registry-operator-config-resources-storage-credent

[2020-08-04 18:26] dmage commented on #243
The registry operator can get CA from the `cloud-provider-config` configmap from the `openshift-config` namespace, and so far that's the only way to provide a custom CA for the Swift driver. If you be automatically created if you have a CA in your `clouds.yaml`. See also https://github.com/openshift/installer/pull/2932.

@bparees do you think we need a way to configure it via the image registry co

[2020-08-04 18:33] bparees commented on #243
maybe someday as i can envision someone providing storage independent of the cloud provider, but i'd just put it in the backlog.

[2020-08-07 06:31] gyohuangxin commented on #243
I tried to debug in image-registry contianer
[code]
It seems that it uses certificates in /etc/pki/tls/certs/ca-bundle.crt, but I can't find our self-signed certificate in it.

[2020-08-11 06:04] gyohuangxin commented on #243
This issue is related to  our certificate format, and it has been resolved, thanks.

[2020-08-11 13:27] bparees commented on #243
thanks for letting us know, glad you found a resolution

[2020-08-11 13:27] #243 closed

[2020-09-03 22:02] #217 closed

[2020-10-28 01:22] #133 closed

[2020-12-07 21:58] #238 closed

[2021-05-18 13:58] ShrayRastogi opened #275 "CRC Image Registry docker login issue on Windows - 127.0.0.1:80 connection refused"
When trying to docker login to CRC internal image registry default-route-openshift-image-registry.apps-crc.testing throws error.
Its only happening on windows. Works fine when running on Linux.

Version
Client Version: 4.7.5
Kubernetes Version: v1.20.0+bafe72f

Steps To Reproduce
crc start (Windows)
docker login -u kubeadmin -p $(oc whoami -t) default-route-openshift-image-registry.apps-crc.testin

[2021-05-27 15:11] #275 closed

[2022-04-04 17:10] KyWa opened #322 "allowedRegistriesForImport Behavior"
# Issue
Recently working in a somewhat disconnected environment, although the use of `ImageContentSourcePolicy` objects functions through a Proxy instance, we have seen "odd" behavior in the `allowedRegistriesForImport` and `registrySources.insecureRegistries`.

When attempting a cluster version upgrade, the `clusterversion` pod had logs saying `Forbidden: registry "quay.io" not allowed by whiteli

[2022-04-06 15:45] roldanx opened #323 "DELETE operation is unsupported"
Using version: `image: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:71145c39d67b47163c5b9ecace119ee286f30e06fd6645cb07d61dc8f27c96e2`
[code]
[code]

Hi guys,

I am trying to delete an image as documentation states for V2 registries:
`$ curl -Ik -u <user:password> -H "Accept: application/vnd.docker.distribution.manifest.v2+json" https://<registry>/v2/<image>/manifests/<tag> | awk '$1 == "D

[2022-04-06 15:48] dmage commented on #323
This endpoint deletes only leftovers and is used primarily by the image pruner.

If you want to delete an image, you need to use `oc delete imagestreamtag IMAGESTREAM:TAG -n NAMESPACE`.

[2022-09-02 00:01] #322 closed